<menu class="mobile-menu">
  <a href="summary.html" class="menu-tab menu-item">
    <img src="/assets/img/menu_icon_summary.svg">
    <div>Summary</div>
  </a>
  <a href="board.html" class="menu-tab menu-item">
    <img src="/assets/img/menu_icon_board.svg">
    <div>Board</div>
  </a>
  <a href="add_task.html" class="menu-tab menu-item">
    <img src="/assets/img/menu_icon_add_task.svg">
    <div>Add Tasks</div>
  </a>
  <a href="contacts.html" class="menu-tab menu-item">
    <img src="/assets/img/menu_icon_contacts.svg">
    <div>Contacts</div>
  </a>
</menu>