.content-board {
  margin: 160px 15px 0px 310px;
}

body.popup-open {
  overflow: hidden;
}

h2 {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}

.plus-button {
  height: 20px;
  width: 20px;
  background-color: rgb(42, 54, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(42, 54, 71);
  border-radius: 30%;
  cursor: pointer;
}

.task-topic {
  margin-top: 120px;
  height: 47px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  flex: 1;
  height: 48px;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.search {
  padding-left: 10px;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  font-size: 16px;
  border-color: rgb(168, 186, 186);
}

.search-icon {
  margin-right: 35px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url("/assets/img/search.svg");
  background-size: cover;
  cursor: pointer;
}

.search-icon::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 1px;
  height: calc(100% - 4px);
  background-color: rgb(207, 207, 207);
}

/*-board-search-END-*/
/*-todo-*/

.plus-button-two {
  height: 15px;
  width: 15px;
}

.button-add-task-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 30%;
  border: 2px solid #ffffff;
  filter: invert(1);
  cursor: pointer;
}

.headlines-container {
  padding-top: 16px;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-todo-END*/
/*-no_tasks-*/

.no-tasks {
  color: #A8A8A8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 48px;
  font-size: 20px;
  background-color: rgb(243, 239, 239);
  border-radius: 15px;
  border: 1px dashed #bebdbd;
}

/*-no_tasks-END*/
/*-card-section*/

.drag-area {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  height: 100%;
}

.drag-area-highlight {
  background-color: rgba(184, 184, 184, 0.1);
}

.section-done {
  width: 100%;
}

.form-check-input {
  cursor: pointer;
}

.form-check {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.form-check:hover {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.card-section {
  margin-right: 16px;
  text-decoration: none;
  width: 300px;
  height: 300px;
}

.card {
  padding: 16px;
  max-width: 250px;
  max-height: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}

.card-category-user-story {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  font-style: normal;
  font-weight: 400;
  width: 113px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0038ff;
  border-radius: 8px;
}

.card-category-technical-task {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  font-style: normal;
  font-weight: 400;
  width: 132px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1fd7c1;
  border-radius: 8px;
}

.card-headline {
  padding-bottom: 8px;
  padding-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  overflow: auto;
  height: 50px;
}

.card-headline::-webkit-scrollbar {
  height: 8px;
}

.card-headline::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.0);
  border-radius: 6px;
}

.card-description {
  color: var(--icon, #a8a8a8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 24px;
  overflow: auto;
  height: 20px;
}

.card-description::-webkit-scrollbar {
  height: 8px;
}

.card-description::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.0);
  border-radius: 6px;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-progress-bar-inside-CARD*/
.progress-container {
  padding: 0px 8px 2px 0px;
  display: flex;
  justify-content: space-between;
  width: 220px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 8px;
  width: 128px;
  background-color: #ccc;
  border-radius: 8px;
}

.progress-fill-empty {
  height: 100%;
  width: var(--progress, 0%);
  background-color: #4586ff;
  border-radius: 8px;
}

.progress-fill-half {
  height: 100%;
  width: var(--progress, 50%);
  background-color: #4586ff;
  border-radius: 8px;
}

.progress-fill-full {
  height: 100%;
  width: var(--progress, 100%);
  background-color: #4586ff;
  border-radius: 8px;
}

.progress-text {
  padding-left: 11px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000000;
  width: 70px;
}

/*progress-bar-inside-CARD-end*/
/*user-priority-section*/

.user-container {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
}

.user-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.0);
  border-radius: 6px;
}

.user-container::-webkit-scrollbar {
  height: 8px;
}

.user-container-popup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.user-container-edit-popup {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.subtask-list-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 50px;
  overflow: hidden;
}

.initials-circle {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: -12px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.initials-circle:nth-child(1) {
  background-color: rgb(252, 113, 255);
}

.initials-circle:nth-child(2) {
  background-color: rgb(113, 255, 134);
}

.initials-circle:nth-child(3) {
  background-color: rgb(120, 113, 255);
}

.user-priority-container {
  margin-top: 24px;
  display: flex;
  height: 32px;
  width: 220px;
  justify-content: space-between;
  align-items: center;
}

.initials-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.initials-circle-two {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.user-details {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}

.subtask-list {
  margin: 16px;
}

.form-check-label {
  padding-left: 16px;
  cursor: pointer;
}

/*-card-section-END*/
/*-popup-*/

@keyframes moveFromRightToScreen {
  from {
    transform: translateX(+100%);
  }

  to {
    transform: translateX(0);
  }
}

.d-none {
  display: none;
}

.board-popup-content {
  overflow-y: auto;
  height: calc(100% - 20px);
  padding: 10px;
}

.flex-container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.board_popup {
  padding: 42px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img_popup {
  width: 44px;
  height: 44px;
  filter: invert(100%);
}

.task_popup_user-story {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 128px;
  background-color: #0038ff;
  color: white;
  padding: 4px;
}

.task_popup_technical-task {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 160px;
  background-color: #1fd7c1;
  color: white;
  padding: 4px;
}

.header_popup {
  margin-top: 16px;
  margin-bottom: 8px;
  max-width: 50%;
}

.titelarea {
  border: none;
  resize: none;
  overflow: hidden;
  max-height: 100px;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  pointer-events: none;
  max-width: 420px;
}

.descriptionarea {
  border: none;
  resize: none;
  overflow: hidden;
  height: 50px;
  font-size: 20px;
  pointer-events: none;
  width: 100%;
}

.p-element {
  width: 100%;
  height: 20px;
  margin-bottom: 26px;
}

.priority_popup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  font-size: 20px;
  gap: 20px;
}

.due_date_popup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 38px;
  font-size: 20px;
}

.assigned_popup {
  width: 100%;
  font-size: 20px;
}

.board-user-list {
  height: 180px !important;
}

.initials_circle {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 40px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.close_addTask_icon_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(255, 246, 246);
}

.subtask_container {
  height: 19px;
  margin-bottom: 0px;
}

.user_popup_container {
  padding: 7px 36px;
  display: flex;
  align-items: center;
}

.user_popup_item {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
}

.subtask_checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
}

.subtask_checkbox:checked {
  background-color: #ffffff;
}

.subtask_checkbox:checked::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-top: -5px;
  margin-right: -4px;
  margin-left: 1px;
}

.edit-delete {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 7px;
}

.button-delete-edit {
  height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 6px 6px;
}

.assigned-popup {
  font-size: 20px;
}

.edit-delete-img {
  height: 24px;
  width: 24px;
}

.text-container {
  padding-left: 8px;
}

.card-section {
  text-decoration: none;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
}

.addTask-popup {
  width: 70%;
  background-color: white;
  border-radius: 24px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
}

.add-task-header-container {
  display: flex;
  align-items: center;
  background-color: #f6f7f8;
  margin-bottom: 38px;
  justify-content: space-between;
}

.task-edit-form {
  background-color: white;
  border-radius: 24px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 500px;
  max-height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-edit-ok {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80px;
  height: 48px;
  background-color: #2a3647;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-edit-ok:hover {
  background-color: var(--Ligth-blue);
  color: #ffffff;
}

.card-category-and-drag-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-category-and-drag-menu img {
  height: 24px;
}

.add-task-form-popup {
  padding-top: 80px;
  padding-bottom: 100px;
}

.close-icon-edit-popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.add-task-form-row {
  height: 65%;
}

.add-task-form-edit {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}

.button-ok {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}


.assigned-input {
  position: relative;
}

.input-task-select {
  cursor: pointer;
}


.plus-button-subtask-edit-popup {
  cursor: pointer;
  height: 14px;
  margin-right: 10px;
  margin-left: -30px;
}

.mobile-drag-popup {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
}

.mobile-drag-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 90%;
  padding: 40px 0;
  border-radius: 24px;
}

.mobile-drag-item {
  width: 80%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 16px;
  background-color: #ececec;
  cursor: pointer;
}

@media (min-width: 900px) {
  .addTask_popup {
    max-height: 700px;
  }

  .complete_board_popup {
    max-width: 500px;
  }

  .mobile-drag-popup {
    display: none;
  }

  .card-category-and-drag-menu img {
    display: none;
  }
}

@media (max-width: 900px) {

  .selected-user-container {
    overflow-x: auto;
    height: calc(50% - 20px);
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  .add-task-form-popup {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .board_popup_mobile {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .task-edit-form {
    margin: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 400px;
  }

  .task-topic {
    margin: -80px;
    padding-left: 80px;
  }

  .desktop-complete-container {
    padding-bottom: 150px;
  }

  .content-board {
    padding-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 150px;
    overflow: hidden !important;
  }

  .titelarea-mobile {
    font-size: 32px;
    border: none;
    resize: none;
    overflow: hidden;
    max-height: 200px;
    font-weight: 700;
    margin: 0;
    pointer-events: none;
    max-width: 220px;
  }

  .descriptionarea-mobile {
    font-size: 16px;
    border: none;
    resize: none;
    overflow: hidden;
    max-height: 50px;
    margin: 0;
    pointer-events: none;
  }

  .due-date-popup-mobile {
    font-size: 16px;
  }

  .priority-popup-mobile {
    font-size: 16px;
    width: 70%;
  }

  .assigned-mobile {
    font-size: 16px;
  }

  .img_popup {
    width: 34px;
    height: 34px;
    filter: invert(100%);
  }

  .user-full-name-mobile {
    font-size: 16px;
  }

  .initials-circle-mobile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 12px;
  }

  .subtask-container-mobile {
    font-size: 16px;
  }

  .subtask-list-mobile {
    font-size: 16px;
  }

  .edit-delete-img-mobile {
    height: 10px;
  }

  .edit-delete-popup-button-mobile {
    font-size: 16px;
  }

  .edit-delete-img-mobile {
    height: 16px;
  }
}

@media (max-width: 1600px) {
  .add-task-text {
    display: none;
  }

  .card {
    width: 250px;
    height: 250px;
  }
}

/* Responsiv for desktop */
@media (min-width: 1600px) {
  .content-board {
    max-width: 1400px;
  }

  .desktop-h1 {
    margin-top: 150px;
    font-size: 61px;
  }

  .desktop-task-topic {
    margin-top: 0;
    height: auto;
    display: initial;
    justify-content: initial;
    align-items: initial;
  }

  .desktop-button-add-task {
    height: 48px;
    width: 160px;
    border-radius: 10px;
  }

  .desktop-position-add-task-button {
    margin-left: 86%;
    margin-top: -50px;
  }

  .desktop-search-container {
    margin-top: -50px;
    width: 22%;
    height: 48px;
    margin-left: 57%;
  }

  .add-task-text {
    padding-right: 10px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
  }

  .desktop-complete-container {
    padding-top: 40px;
    display: flex;
    height: 100vh;
  }

  h6 {
    margin-left: 8px;
  }

  .button-add-task-todo {
    margin-right: 8px;
  }

  .desktop-drag-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
  }

  .desktop-card-section {
    margin-right: initial;
    width: auto;
    height: auto;
  }

  .card-section {
    width: 100%;
    margin-bottom: 32px;
  }

  .card {
    width: 100%;
  }

  .income-popup {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    z-index: 50;
  }

  .desktop-complete-card {
    width: 30%;
    margin: 12px;
  }

  .desktop-no-tasks {
    width: 300px;
    height: 48px;
    margin-bottom: 300px;
  }
}

/*end of desktop*/